body {
  font-family: 'GothamPro';
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 88%;
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 45px;
  width: 55px;
  height: 55px;
}

.nav__link {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  padding-right: 35px;
  text-decoration: none;
}

.nav__link:last-child {padding-right: 0;}

.menu-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  margin-right: 35px;
}

.search__text {
  width: 174px;
  border: 0;
  border-bottom: 1px solid;
  transform: translate(0, 3px);
}

.search__text:focus {
  outline: none;
  border-bottom: 1px solid;
}

.search__button {
  position: absolute;
  transform: translate(-100%, 30%);
  background: white;
  cursor: pointer;
}

.search__button:focus,
.authorization__sign-in-button:focus,
.authorization__cart-button:focus,
.authorization__flag-button:focus
{
  outline: none;
}

.authorization {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorization__sign-in-button,
.authorization__cart-button,
.authorization__flag-button {
  border: 0;
  padding: 0;
  margin-right: 35px;
  background: white;
  font: 900 12px GothamPro;
  cursor: pointer;
}

.authorization__flag-button {
  margin-right: 0;
}

.authorization__sign-in-button {
  width: 48px;
}

.authorization__cart-button {
  margin-right: 53.87px;
  width: 35px;
}

.authorization__cart-button::after {
  content: '1';
  position: absolute;
  margin-left: 3.95px;
  color: white;
  background: #000;
  width: 14.92px;
  height: 14.92px;
  border-radius: 50%;
}

.box-image {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 83%;
  margin-top: 9px;
  height: 190px;
  padding: 91px 0 0 60px;
  background: url('icons/box-image.png');
  background-repeat: no-repeat;

}

.box-image__title {
  margin: 0;
  max-width: 195px;
  font-size: 30px;
  line-height: 29px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.box-image__link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #FFF;
}

.box-image__link::after {
  content: '';
  position: absolute;
  background: url('icons/Arrow.svg');
  margin-left: 6px;
  width: 45px;
  height: 7px;
  transform: translateY(45%);
  color: white;
}
