body {
  font-family: 'GothamPro';
  max-width: 1170px;
  margin: 0;
}

.header {
  width: 88%;
  margin: auto;
  display: flex;
}

.header__logo {
  width: 55px;
  height: 55px;
  padding: 32.46px 0 8.33px 0;
}

.nav {
  display: flex;
  align-items: center;
  padding: 48.02px 191.55px 21px 45px;
}

.nav__link {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  padding: 0 35px 0 0;
  text-decoration: none;
  height: 24px;
}

.nav__link:last-child {padding-right: 0;}

.menu-right {
  display: flex;
  align-items: center;
  padding: 48.02px 0 23.76px 0;
}

.search {
  position: relative;
  margin-right: 35px;
}

.search__text {
  height: 24px;
  width: 178px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid;
}

.search__text:focus {
  outline: none;
  border-bottom: 1px solid;
}

.search__button {
  position: absolute;
  transform: translate(-117%, 40%);
  background: white;
  cursor: pointer;
}

.search__button:focus,
.authorization__sign-in-button:focus,
.authorization__cart-button:focus,
.authorization__flag-button:focus
{
  outline: none;
}

.authorization {
  display: flex;
  margin-top:-8px;
}

.authorization__sign-in-button,
.authorization__cart-button,
.authorization__flag-button {
  border: 0;
  padding: 0;
  margin-right: 35px;
  background: white;
  font: 900 12px GothamPro;
  cursor: pointer;
}

.authorization__sign-in-button {
  width: 48px;
}

.authorization__cart-button {
  margin-right: 53.87px;
  width: 35px;
}

.authorization__cart-button::after {
  content: '1';
  position: absolute;
  margin-left: 3.95px;
  color: white;
  background: #000;
  width: 14.92px;
  height: 14.92px;
  border-radius: 50%;
}

.box-image {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 88%;
  margin: auto;
  margin-top: 17.5px;
  height: 280px;
  background: url('icons/box-image.png');
}

.box-image__title {
  margin: 0;
  width: 195px;
  font-size: 30px;
  line-height: 29px;
  color: #FFF;
  text-transform: uppercase;
  margin: 91px 0 15px 60px;
}

.box-image__link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #FFF;
  margin-left: 60px;
}

.box-image__link::after {
  content: '';
  position: absolute;
  background: url('icons/arrow.svg');
  margin-left: 6px;
  width: 45px;
  height: 7px;
  transform: translateY(45%);
  color: white;
}
